# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
# Why insert a final newline? https://stackoverflow.com/questions/729692/why-should-text-files-end-with-a-newline
insert_final_newline = true

[*.{js,py,svelte,css}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{scss,yml}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
