# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
     - id: trailing-whitespace
       exclude: assets/
     - id: end-of-file-fixer
       exclude: assets/
     - id: check-yaml
     - id: check-added-large-files

  - repo: https://github.com/adamchainz/django-upgrade
    rev: "1.12.0"
    hooks:
     - id: django-upgrade
       args: [--target-version, "4.1"]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
     - id: pyupgrade

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
     - id: black

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  # - repo: https://github.com/PyCQA/flake8
  #   rev: 6.0.0
  #   hooks:
  #     - id: flake8

  # - repo: https://github.com/ecugol/pre-commit-hooks-django
  #   rev: v0.4.0
  #   hooks:
  #     - id: check-absent-migrations
