name: CI
on: [push]
jobs:
  lint:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"
      - run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
      - run: pip install pre-commit
      - run: npm install
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - run: pre-commit run --show-diff-on-failure --all-files
  python-tests:
    name: Python tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: "requirements*.txt"
      - run: pip install -r requirements.txt
      - run: mkdir -p assets
      - name: Fake manifest.json
        run: >
         echo '{"js/index.ts": {"file": "assets/poker-p75pGlTM.js"}}' > assets/manifest.json
      - run: ./manage.py test

  js-check:
    name: JavaScript type checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: npm ci
      - run: npm install @rollup/rollup-linux-x64-gnu
      - run: npm run check

  js-tests:
    name: JavaScript tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: npm ci
      - run: npm install @rollup/rollup-linux-x64-gnu
      - run: npm run test
